body {
    background-color: antiquewhite;
    justify-content: center;
    font-size: 25px;
    color: blue;
    text-align: justify
}

h1 {
    color: rgb(255, 0, 0);
    font-size: 40px;
    text-align: center;

}

p3 {
    color: #FF0000;
    font-size: 30px;
    text-align: center;
}

p5 {
    color: #000;
    font-size: 30px;
    text-align: center;
}


#imagem {
    padding: 20px;
    border: 5px groove;
    width: 40%;
    display: flex;
    background: #fbb829;
}

.pilares {
    background: #CCCC;
    margin-left: 35px;
    border: 5px groove;
}

.titulo {
    font-size: 30px;
    font-style: #000;
    padding: 10px;
}

.titulo-principal {
    padding-left: 20px;
    background-color: blue;
}


ul {
    display: inline-block;
    vertical-align: text-bottom;
    vertical-align: top;
    margin-left: 5%;
}

.itens {
position: fixed;
left: 350px;
    
}

.rodape {
    font-size: 10px;
    font-style: #000;
    padding: 10px;
    text-align: center;
    background-color: black;
}

nav a {
    color: #fbb829;
    font-size: 30px;
    text-decoration: none;

}

nav li {
    display: inline;
    margin-top: 10px;
    padding: 100px;
    
}

a:link {
    background: #B1B1B1;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border-width: 4px;
    border-style: solid;
    border-top-color: #DFDFDF;
    border-right-color: #666;
    border-bottom-color: #333;
    border-left-color: #858585;
   
   }
   
   a:hover {
    background: #B1B1B1;
    color: #FFF;
    font-weight: bold;
    border-color: #B1B1B1;
   }